body {
    background-color: #243146;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
}

#icon-tray {
    position: relative;
}

#icon-tray img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    cursor: pointer;
}

.flex-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 450%;
}

.flex-center h1 {
    cursor: pointer;
}