body {
    background-color: #243146;
    font-family: 'PT Sans', sans-serif;
}

.flex-center {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
  }