<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="description" content="Website poking fun at dull JavaScript library/framework naming conventions.">
    <meta name="keywords" content="noun.js, javascript-library, javascript-framework, npm, node.js, vue.js">
    <meta name="author" content="Michael Van Leeuwen, Radu Vasilescu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Icons -->
    <link rel="shortcut icon" href="src/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="src/assets/favicon.ico" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="src/static/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <!-- Scripts -->
    <script src="src/data/constants.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>Noun.js</title>
</head>
<body class="noselect">
    <div id="icon-tray">
        <img src="src/assets/github.png" id="repository" v-on:click="travelToRepository"/>
    </div>
    <div id="main" class="flex-center">
        <!-- Display of the randomized name -->
        <div id="generated-name">
            <h1 v-on:click="randomWord">{{ package }}</h1>
            <p v-if="firstClick">Click the big text to generate the next name!</p>
            <p v-else>&nbsp;</p>
        </div>

        <!-- Results panel -->
        <div id="result-container">
            <!-- Checkmark or 'X' -->
            <div class="column left">
                <div class="center">
                    <i v-if="exists" class="fas fa-check"></i>
                    <i v-else class="fas fa-times"></i>
                </div>
            </div>

            <!-- Text and links -->
            <div class="column right">
                <div v-if="noun">
                    <h3 style="margin-top: 15px;">Of course this exists,<br/>you're on it right now!</h3>
                    <p style="margin-top: -10px;">View the source code <a v-bind:href="link" target="_blank">here</a>!</p>
                </div>
                <div v-else-if="exists">
                    <h3>This NPM package exists!</h3>
                    <p>Check it out <a v-bind:href="link" target="_blank">here</a>!</p>
                </div>
                <div v-else>
                    <h3>This NPM package doesn't exist...</h3>
                    <p>... YET! How about you <a href="https://github.com/new" target="_blank">fix that</a>?</p>
                </div>
            </div>
        </div>

        <div id="package-card">
          <div v-if="exists">
            <a class="card-title" v-bind:href="card.link">{{ card.title }}</a>
            <p class="card-slug">{{ card.slug }}</p>
            <p class="card-details">{{ card.details }}</p>
          </div>
          <div v-else>
            <p class="center big">?</p>
          </div>
        </div>
    </div>
    <script src="src/main.js"></script>
</body>
</html>
