<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="description" content="Website poking fun at dull JavaScript library/framework naming conventions.">
    <meta name="keywords" content="noun.js, javascript-library, javascript-framework, npm, node.js, vue.js">
    <meta name="author" content="Michael Van Leeuwen, Radu Vasilescu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Icons -->
    <link rel="shortcut icon" href="src/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="src/assets/favicon.ico" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="src/static/css/styles.css">
    <link rel="stylesheet" href="src/static/css/animations.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <!-- Scripts -->
    <script src="src/data/constants.js"></script>
    <script src="src/static/js/starfield.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="src/components/components.js"></script>

    <title>Noun.js</title>
</head>
<body scroll="no" class="noselect">
    <canvas id="canvas" class="fade-in"></canvas>
        <div id="icon-tray" class="fade-in">
            <github-button></github-button>
        </div>
        <div id="main" class="flex-center">
            <!-- Display of the randomized name -->
            <div id="generated-name" class="fade-in">
                <h1 v-on:click="randomWord">{{ package }}</h1>
                <p v-if="firstClick">Click the big text to generate the next name!</p>
                <p v-else>&nbsp;</p>
            </div>

            <!-- Results panel -->
            <div id="result-container" class="fade-in">
                <!-- Checkmark or 'X' -->
                <div class="column left">
                    <div class="center">
                        <i v-if="exists" class="fas fa-check"></i>
                        <i v-else class="fas fa-times"></i>
                    </div>
                </div>

                <!-- Text and links -->
                <div class="column right">
                    <div v-if="noun">
                        <h3 style="margin-top: 15px;">Of course this exists,<br/>you're on it right now!</h3>
                        <p style="margin-top: -10px;">View the source code <a v-bind:href="link" target="_blank">here</a>!</p>
                    </div>
                    <div v-else-if="exists">
                        <h3>This NPM package exists!</h3>
                        <p>Check it out <a v-bind:href="link" target="_blank">here</a>!</p>
                    </div>
                    <div v-else>
                        <h3>This NPM package doesn't exist...</h3>
                        <p>... YET! How about you <a href="https://github.com/new" target="_blank">fix that</a>?</p>
                    </div>
                </div>
            </div>
                <div id="package-card">
                    <transition name="fade" mode="out-in">
                        <div v-if="cardReady" key="1">
                            <a class="card-title" v-bind:href="card.link">{{ card.title }}</a>
                            <p class="card-slug">{{ card.slug }}</p>
                            <p class="card-details">{{ card.details }}</p>
                        </div>
                        <div v-else-if="exists && !firstClick" key="2">
                            <div class="spinner">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <div v-else key="3">
                            <p class="center big">?</p>
                        </div>
                    </transition>
                </div>
        </div>
    <script src="src/main.js"></script>
    </canvas>
</body>
</html>
